<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Modificar Datos</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Nombre:</label>
            <input [(ngModel)]="categoria.nombreCategoria" name="nombreCategoria" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Descripcion:</label>
            <input [(ngModel)]="categoria.descripcion" name="descripcion" type="text" class="form-control">
          </div>
          <button (click)="Actualizar(categoria)" class="btn btn-danger">Actualizar</button>
        </form>
      </div>
    </div>
  </div>