<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
          <h3>Agregar Producto</h3>
        </div>
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="">Nombre Producto:</label>
              <input [(ngModel)]="producto.nombreProducto" name="nombreProducto" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Precio Unitario:</label>
              <input [(ngModel)]="producto.precioUnitario" name="precioUnitario" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Unidades En Stock</label>
                <input [(ngModel)]="producto.unidadesEnStock" name="unidadesEnStock" type="text" class="form-control">
              </div>
              <label for="">Proveedor</label>
              <select class="form-select mt-2 mb-2" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="form-group">
                <label for="">Proveedor:</label>
                <input [(ngModel)]="producto.unidadesEnStock" name="unidadesEnStock" type="text" class="form-control">
              </div>
            <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
          </form>
        </div>
      </div>
    </div>